{% extends '_layout.njk' %}
<head>
    {% block css %}
    <title>Navbar Template for Bootstrap</title>
    <style type="text/css"> body { padding-top: 60px;} </style>
    {% endblock %}
</head>
{% block content %}
 <!-- Static navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">HYSH</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">My Photos</a></li>
                <li><a href='#'>Upload</a></li>
                <li><a href='#'>Profile</a></li>
                <li><a href='#'>Log Out</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>
{% endblock %}