{################################################################
  # Copyright (c) 2017 Rudd Johnson, Daniel Eynis, Justin Moore #
  # This program is licensed under the "MIT License".           #
  # Please see the file COPYING in the source                   #
  # distribution of this software for license terms.            #
{################################################################}

{% extends '_layout.njk' %}
{% block content %}
<div class="row" style="text-align: center;">     
    <div class="span12">         
        <h1>Welcome to HYSH</h1>         
        <p>Thank you for signing up!</p>
        <hr>     
        You have succesfully created an account.<br\ >
        <p class="text-primary" style="font-size: 12px;">Click the link to login and get started.</p> <br\ >
        <a href="/login" class="text-primary">Log in</a>
    </div> 
</div>
{% endblock %}