{################################################################
  # Copyright (c) 2017 Rudd Johnson, Daniel Eynis, Justin Moore #
  # This program is licensed under the "MIT License".           #
  # Please see the file COPYING in the source                   #
  # distribution of this software for license terms.            #
{################################################################}

{% extends '_user.njk' %}
{% block content %}
{{super() }}
	{% if images %}
		{% for photo in buffer %}
			<div class = "row">
   				<div class = "col-sm-6 col-md-3">
      					<a href = "#" class = "thumbnail">
        					<img src = {{photo}}>
      					</a>
   				</div>
   
			</div>
			<br>
		{% endfor %}
	{% else %}
	<p>No photos have been uploaded</p>
	{% endif %}
{% endblock %}
