{################################################################
  # Copyright (c) 2017 Rudd Johnson, Daniel Eynis, Justin Moore #
  # This program is licensed under the "MIT License".           #
  # Please see the file COPYING in the source                   #
  # distribution of this software for license terms.            #
{################################################################}

{% extends '_user.njk' %}
{% block css %}
<link href="/stylesheets/style.css" rel="stylesheet">
<style type ="text/css">
.container{
	position: relative;
	width: 200px;
	height: 200px;
}
</style>
{% endblock %}
{% block content %}
{{super() }}
<div class="row" style="text-align: center;">     
  <div class="span12">
    <h1>Upload file here!</h1>         
    <div class="centerupload">
     <form action="/upload" id="form1" method="POST">
      <input type='file' id="imgInp" name ="picture" accept="image/*">
      <br></br>
      <div class = "container">
      <img id="file" src="#" class="img-responsive"/>
      </div>
      <br></br>
      <button class="btn btn-primary" role="button">Upload</button>
     </form>
    </div>
  </div>
</div>
{% endblock %}
{% block script%}
<script src="/js/upload.js"></script>
{% endblock %}
